.hiddenCrad {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  filter: blur(20px);
}
.moveLeft {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  filter: blur(20px);
}
.moveRight {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  filter: blur(20px);
}
