.header {
  position: fixed;
  width: 100%;
  max-width: 1550px;
  display: flex;
  background: white;
  align-items: center;
  padding: 10px 100px;
  gap: 0 10px;
  z-index: 100;
  top: 0;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}
.header img {
  height: 70px;
}
.header .signup {
  margin-left: auto;
}
.header .nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.header .nav a {
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: 600;
  font-size: 16x;
  color: var(--colorText);
  cursor: pointer;
}
.header .nav a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primaryColor);
  bottom: 0px;
  border-radius: 100rem;
  transform: translateX(-110%);
  transition: transform 0.25s linear;
}
.header .nav a:hover::before {
  transform: translateX(0);
}
.header .nav a:hover {
  color: var(--primaryColor);
}
